<form style="display: flex; flex-direction: column">
  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="Google" />
  </mat-form-field> -->

  <mat-form-field appearance="fill">
    <mat-label>Room Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>No of Seats</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Wifi</mat-label>
    <input matInput placeholder="1" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Projector</mat-label>
    <input matInput placeholder="1" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>White Board</mat-label>
    <input matInput placeholder="1" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Charging Points</mat-label>
    <input matInput placeholder="8" />
  </mat-form-field>
  <button mat-raised-button>Create</button>
</form>
